.App {
  font-family: sans-serif;
  text-align: center;
}

.ol-zoomslider {
  position: absolute;
  left: -100px;
  background-color: rgba(0, 0, 0, 0.2);
}

@import "~ol/ol.css";

.ol-zoomslider{
margin-left: 110px;
background-color: rgba(0, 0, 0, 0.4);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
